
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    cursor: pointer;
    gap: 2px;
}

.cell {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;

}

.dice {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px;
    
}


.cell img{
    width: 90px;
    height: 90px;
}

.dice:hover {
    background-color: #eee;
}

.dice.active {
    background-color: #ccc;
}

.dice.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px;
}

.message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px;
}

#spritesDados{
    width: 30px;
    height: 30px;
}